*.class
*.log
*.ctxt
.DS_Store
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
out/
build/
target/
.vscode/
*.swp
*.swo
*~
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
node_modules/
dist/
.angular/
*.env
.env.local
*.lock
package-lock.json